## Add env variables to the docker compose file
version: '3'

services:
  code-server:
    build:
      context: .
      dockerfile: docker/Dockerfile.code-server
    ports:
      - "8080:8080"
      - "8081:8081"
  
  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker
    ports:
      - "9091:9091"
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - WS_RELAYER_URL=${WS_RELAYER_URL}
      - DATABASE_URL=${DATABASE_URL_WORKER}
  
  ws-relayer:
    build:
      context: .
      dockerfile: docker/Dockerfile.ws-relayer
    env_file:
      - .env
    environment:
      - WS_RELAYER_URL=${WS_RELAYER_URL}
    depends_on:
      - postgres
  
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.primary-backend
    ports:
      - "9090:9090"
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL_BACKEND}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CALLBACK_URL=${GOOGLE_CALLBACK_URL}
      - JWT_SECRET=${JWT_SECRET}
      - FRONTEND_URL=${FRONTEND_URL}
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - GITHUB_CALLBACK_URL=${GITHUB_CALLBACK_URL}

  postgres:
    image: postgres
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
  
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
    volumes:
      - ./apps/frontend:/app/apps/frontend

volumes:
  postgres_data:
